---
- name: "add python libs and dependencies"
  hosts: "all"
  become: true
  vars:
    env_file: "/etc/environment"
    udev_file: "/etc/udev/rules.d/100-picamera2.rules"
    udev_multiline: |
      SUBSYSTEM=="dma_heap", GROUP="video", MODE="0660"
      SUBSYSTEM=="dma_buf", GROUP="video", MODE="0660"
  tasks:
    - name: "Update apt repo and cache."
      apt:
        update_cache: true
        cache_valid_time: 3600
    - name: "Ansible apt install base deps"
      apt:
        name:
          - "python3-dev"
          - "python3-rpi.gpio"
          - "python3-libgpiod"
          - "python3-numpy"
          - "python3-pigpio"
          - "python3-smbus2"
          - "python3-setuptools"
          - "python3-wheel"
          - "python3-pip"
          - "i2c-tools"
          - "libgpiod-dev"
          - "pipx"
          - "git"
          - "build-essential" 
          - "cmake" 
          - "libavcodec-dev" 
          - "libavformat-dev" 
          - "libswscale-dev"
          - "libgstreamer-plugins-base1.0-dev"
          - "libgstreamer1.0-dev" 
          - "libgtk-3-dev"
          - "libpng-dev"
          - "libjpeg-dev" 
          - "libopenexr-dev" 
          - "libtiff-dev" 
          - "libwebp-dev"
          - "libopencv-dev" 
          - "x264" 
          - "libx264-dev" 
          - "libssl-dev" 
          - "ffmpeg"
        state: "present"

    - name: "install picamera2"
      ansible.builtin.apt:
        name: python3-picamera2
        state: latest
        install_recommends: no
    - name: "add poetry envars"
      blockinfile:
        state: "present"
        insertafter: "EOF"
        dest: "{{ env_file }}"
        marker: "# {mark} _POETRY"
        append_newline: true
        prepend_newline: true
        block: |
          POETRY_VIRTUALENVS_IN_PROJECT=true
          POETRY_VIRTUALENVS_OPTIONS_SYSTEM_SITE_PACKAGES=true

    - name: Add user to video and render groups
      ansible.builtin.user:
        name: tcronin
        groups: video,render
        append: yes

    - name: "udev rules for picamera2"
      copy:
        dest: "{{ udev_file }}"
        content: "{{ udev_multiline }}"
