#cloud-config
# https://canonical-subiquity.readthedocs-hosted.com/en/latest/reference/autoinstall-reference.html
# https://github.com/jjbailey/ubuntu-autoinstall
# https://curtin.readthedocs.io/en/latest/topics/storage.html
# https://www.cyberciti.biz/faq/understanding-etcshadow-file/
# create seed image with enough setup to be able to configure with ansible
autoinstall:
  version: 1

  refresh-installer:
    update: true

  locale: en_US.UTF-8

  keyboard:
    layout: us

  timezone: "Etc/UTC"

  source:
    id: ubuntu-server-minimal

  apt:
    geoip: true
    primary:
      - arches: [default]
        uri: http://us.archive.ubuntu.com/ubuntu/

  updates: all

  packages:
    - cron
    - lshw
    - iputils-ping
    - net-tools
    - ethtool
    - parted
    - htop
    - nano
    - curl
    - gnupg
    - gpg
    - wget
    - fwupd
    - unattended-upgrades
    - tmux
    
  ssh:
    install-server: true
    allow-pw: false

  identity:
    hostname: __HOSTNAME__
    username: tcronin
    realname: tcronin
    # Password hash generate using: mkpasswd --method=SHA-512
    password: ${TEC_PWD_HASH}

  # https://canonical-subiquity.readthedocs-hosted.com/en/latest/reference/autoinstall-reference.html#ai-user-data
  user-data:
    users:
      - default
      - name: tcronin
        sudo: ALL=(ALL) NOPASSWD:ALL
        groups: sudo, adm
        shell: /bin/bash
        lock_passwd: false
        ssh_authorized_keys:
          - ${TEC_AUTH_KEY}
      - name: ansible
        sudo: ALL=(ALL) NOPASSWD:ALL
        groups: sudo, adm
        shell: /bin/bash
        lock_passwd: false
        passwd: ${ANS_PWD_HASH}
        ssh_authorized_keys:
          - ${ANS_AUTH_KEY}

  # https://docs.cloud-init.io/en/latest/reference/network-config-format-v2.html
  network:
    version: 2
    ethernets:
      # board mounted nic
      eno:
        match:
          name: eno*
        dhcp4: true
      # pci mounted nic  
      enp:
        match:
          name:  enp*
        dhcp4: true

  # format drive using defaults
  storage:
    layout:
      name: direct

  swap:
    filename: /swap.img
    size: 8589934592

# kvm dep
#  late-commands:
#    - sudo systemctl enable serial-getty@ttyS0.service
