---
- name: "copy bash aliases script"
  hosts: "all"
  become: true
  tasks:
    - name: deploy .bash_aliases
      copy:
        src: "{{ playbook_dir }}/../../home/dev/.bash_aliases"
        dest: /home/tcronin/.bash_aliases
        owner: tcronin
        group: tcronin
        mode: 0600
