# https://gist.github.com/edro15/c3fbaaabfe31ecb799363ffab587f336
# https://blog.thelifeofkenneth.com/2020/03/building-raspberry-pi-stratum-1-ntp.html
# https://linlog.blogspot.com/2009/07/synchronizing-ntp-server-to-gpspps.html
# ntpd config options
# https://docs.ntpsec.org/latest/ntp_conf.html
# seed servers
# https://support.ntp.org/Servers/NTPPoolServers
# pps driver
# https://www.eecis.udel.edu/~mills/ntp/html/drivers/driver22.html
# https://www.ntp.org/documentation/drivers/driver22/
# shm driver
# https://www.ntp.org/documentation/drivers/driver28/
# https://www.eecis.udel.edu/~mills/ntp/html/drivers/driver28.html
# 28.2 for precision, 28.0 for coarse
# https://www.multitech.net/developer/software/mlinux/using-mlinux/ntpd/
# nmea driver
# https://www.eecis.udel.edu/~mills/ntp/html/drivers/driver20.html
# https://www.ntp.org/documentation/drivers/driver20/---
#
# get ntp time sources
# ntpq -pnu
# get ntp system variables
# ntpq -c rv
#
- name: "setup ntp"
  hosts: "all"
  become: true
  vars:
    config_file: "/etc/ntpsec/ntp.conf"
    dhcp_config_file: "/etc/dhcp/dhclient.conf"
    # this is initial offset might need additional tuning
    shm_offset: 0.315
  tasks:
    - name: "Update apt repo and cache."
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: "Remove systemd timesync"
      ansible.builtin.apt:
        name: "systemd-timesyncd"
        state: "absent"

    - name: "install ntp"
      ansible.builtin.apt:
        name: "{{ item }}"
        state: "present"
      loop:
        - "ntpsec"
        - "ntpsec-ntpdate"

    - name: "clear pools"
      ansible.builtin.replace:
        path: "{{ config_file }}"
        regexp: "^pool "
        replace: "#pool "

    - name: "add seed servers"
      blockinfile:
        state: "present"
        insertafter: "EOF"
        dest: "{{ config_file }}"
        marker: "# {mark} _SEED_SERVERS_"
        append_newline: true
        prepend_newline: true
        content: |
          server time.cloudflare.com
          server time.google.com
          server amazon.pool.ntp.org
          server north-america.pool.ntp.org

    - name: "add Kernel PPS driver"
      blockinfile:
        state: "present"
        insertafter: "EOF"
        dest: "{{ config_file }}"
        marker: "#  {mark} _HWR_PPS_DRIVER_"
        append_newline: true
        prepend_newline: true
        content: |
          #  kernal level PPS (primary precision timing) 
          server 127.127.22.0 minpoll 4 maxpoll 4 prefer true
          fudge 127.127.22.0 refid PPSH flag3 1

    - name: "gpsd pps driver"
      blockinfile:
        state: "present"
        insertafter: "EOF"
        dest: "{{ config_file }}"
        marker: "#  {mark} _SHM_PPS_DRIVER_"
        append_newline: true
        prepend_newline: true
        content: |
          # pps via gpsd (backup precision timing)
          server 127.127.28.2 minpoll 4 maxpoll 4
          fudge 127.127.28.2 refid PPS time1 0.000 flag1 1

    - name: "gpsd serial time driver"
      blockinfile:
        state: "present"
        insertafter: "EOF"
        dest: "{{ config_file }}"
        marker: "# {mark} _SHM_GPS_COURSE_DRIVER_"
        append_newline: true
        prepend_newline: true
        content: |
          #  gps serialtime (date hh:mm:ss reference)
          server 127.127.28.0 minpoll 4 maxpoll 4
          fudge 127.127.28.0 refid GPS time1 {{ offset }} stratum 3

    # no longer present in trixie
    - name: Check if file exists
      ansible.builtin.stat:
        path: "{{ dhcp_config_file }}"
      register: dhcp_file_check

    - name: "remove ntp from dhcp"
      ansible.builtin.replace:
        path: "{{ dhcp_config_file }}"
        regexp: ", ntp-servers"
        replace: ""
      when: "dhcp_file_check.stat.exists"

    - name: "remove ntp dhcp hook file"
      ansible.builtin.file:
        path: "/etc/dhcp/dhclient-exit-hooks.d/ntp"
        state: "absent"
    
    - name: "remove ntpsec dhcp hook file"
      ansible.builtin.file:
        path: "/etc/dhcp/dhclient-exit-hooks.d/ntpsec"
        state: "absent"
    
    - name: "Enable ntp"
      ansible.builtin.systemd_service:
        name: "ntpsec.service"
        enabled: true
        masked: false
