---
- name: "install virtualbox"
  hosts: "all"
  become: true
  vars:
    user: tcronin
  tasks:
    - name: "Update apt repo and cache."
      apt:
        update_cache: true
        cache_valid_time: 3600
    - name: "install deps"
      apt:
        name: "{{ item }}"
        state: "present"
      loop:
        - "curl"
        - "gnupg"
        - "gpg"
        - "wget"
    - name: "add and sign virtualbox repo"
      block:
        - name: "virtualbox repo key"
          ansible.builtin.get_url:
            url: "https://www.virtualbox.org/download/oracle_vbox_2016.asc"
            dest: "/tmp/oracle_vbox_2016.asc"
            mode: "0644"
            force: true
        - name: "virtualbox sign key"
          command:
            "bash -c 'cat /tmp/oracle_vbox_2016.asc | gpg --dearmor --yes --output\
            \ /usr/share/keyrings/oracle-virtualbox-2016.gpg'"
        - name: "virtualbox apt source"
          ansible.builtin.apt_repository:
            repo:
              "deb [arch=amd64 signed-by=/usr/share/keyrings/oracle-virtualbox-2016.gpg]\
              \ http://download.virtualbox.org/virtualbox/debian {{ ansible_distribution_release }}\
              \ contrib"
            filename: "virtualbox-{{ ansible_distribution_release }}"
            state: "present"
            update_cache: true
    - name: "Update apt added repo and cache."
      apt:
        update_cache: true
        cache_valid_time: 3600
    - name: "apt install virtualbox"
      apt:
        name: "virtualbox-7.1"
        install_recommends: true
        state: "present"

    - name: "get user's dbus session address"
      shell: |
        ps e -u {{ user }} | grep -o 'DBUS_SESSION_BUS_ADDRESS=[^ ]*' | head -1 | cut -d= -f2-
      register: user_dbus
      changed_when: false
      failed_when: user_dbus.stdout == ""

    - name: "get current user favorites"
      become: yes
      become_user: "{{ user }}"
      shell: |
        export DBUS_SESSION_BUS_ADDRESS="{{ user_dbus.stdout }}"
        dconf read /org/gnome/shell/favorite-apps
      register: current_favorites
      changed_when: false

    - name: "add virtualbox to favorites list"
      shell: |
        python3 -c "
        import ast
        apps = {{ current_favorites.stdout }}
        if 'virtualbox.desktop' not in apps:
            apps.insert(0, 'virtualbox.desktop')
        print(str(apps))
        "
      register: new_favorites
      changed_when: false

    - name: "check if favorites changed"
      set_fact:
        favorites_changed: "{{ current_favorites.stdout != new_favorites.stdout }}"

    - name: "update user favorites"
      become: yes
      become_user: "{{ user }}"
      shell: |
        export DBUS_SESSION_BUS_ADDRESS="{{ user_dbus.stdout }}"
        dconf write /org/gnome/shell/favorite-apps "{{ new_favorites.stdout }}"
      when: favorites_changed | bool