# is does agressive package removal
---
- name: "purge any uneeded apt packages"
  hosts: "all"
  become: true
  tasks:
    - name: "Remove all unused packages"
      apt:
        name:
          - "avahi-daemon"
          - "ed"
          - "firmware-brcm80211"
          - "firmware-atheros"
          - "firmware-intel-graphics"
          - "firmware-intel-misc"
          - "firmware-libertas"
          - "firmware-linux-free"
          - "firmware-marvell-prestera"
          - "firmware-misc-nonfree"
          - "firmware-nvidia-graphics"
          - "flashrom"
          - "libpam-chksshpwd"
          - "modemmanager"
          - "triggerhappy"
          - "vim-tiny"
          - "vim-common"
          - "build-essential"
          - "gcc"
          - "g++"
          - "gdb"
          - "strace"
          - "cifs-utils"
          - "mkvtoolnix"
          - "binutils"
          - "binutils-aarch64-linux-gnu"
          - "binutils-common"
          - "libssl-dev"
          - "gcc-14-aarch64-linux-gnu"
          - "gcc-14"
          - "cpp-14-aarch64-linux-gnu"
          - "cpp-14"
          - "dpkg-dev"
          - "fakeroot"
          - "patch"
          - "pkg-config"
          - "pkgconf"
          - "pkgconf-bin"
          - "dmidecode"
          - "pps-tools"
          - "uuid-dev"
          - "zlib1g-dev"
          - "binutils"
          - "binutils-aarch64-linux-gnu"
          - "binutils-common"
          - "libbinutils"
          - "make"
          - "manpages-dev"
          - "libcap-dev"
          - "debconf-i18n"
          - "apt-listchanges"
          - "ppp"
          - "fbset"
          - "lua5.1"
          - "luajit"
          - "javascript-common"
          - "libjs-jquery"
          - "adwaita-icon-theme"
          - "x11-common"
          - "xauth"
          - "gir1.2-*"
          - "xdg-user-dirs"
          - "xkb-data"
          - "polkitd"
          - "python3-dev"
          - "python3.13-dev"
          - "python3-html5lib"
          - "python3-lxml"
          - "python3-bs4"
          - "python3-soupsieve"
          - "python3-requests"
          - "python3-urllib3"
          - "python3-tornado"
          - "python3-pygments"
          - "rpi-keyboard-config"
          - "rpi-keyboard-fw-update"
          - "rpi-usb-gadget"
          - "rpi-update"
          - "rpi-connect-lite"
          - "ntfs-3g"
          - "traceroute"
          - "pastebinit"
          - "kms++-utils"
          - "pahole"
          - "udisks2"
          - "usb-modeswitch"
          - "usb-modeswitch-data"
        state: "absent"
    - name: "Remove useless packages from the cache"
      apt:
        autoclean: true
    - name: "Remove dependencies that are no longer required"
      apt:
        autoremove: true
