---
- name: "purge any uneeded apt packages"
  hosts: "all"
  become: true
  tasks:
    - name: "Remove unused packages"
      ansible.builtin.apt:
        name: "{{ item }}"
        state: "absent"
      loop:
        - "avahi-daemon"
        - "ed"
        - "firmware-atheros"
        - "firmware-intel-graphics"
        - "firmware-intel-misc"
        - "firmware-libertas"
        - "firmware-linux-free"
        - "firmware-marvell-prestera"
        - "firmware-misc-nonfree"
        - "firmware-nvidia-graphics"
        - "flashrom"
        - "libpam-chksshpwd"
        - "modemmanager"
        - "triggerhappy"
        - "vim-tiny"
        - "vim-common"
    - name: "Remove useless packages from the cache"
      apt:
        autoclean: true
    - name: "Remove dependencies that are no longer required"
      apt:
        autoremove: true
