#cloud-config
hostname: __HOSTNAME__
manage_etc_hosts: true
packages:
- htop
apt:
  conf: |
    Acquire {
      Check-Date "false";
    };
timezone: Etc/UTC
keyboard:
  model: pc105
  layout: "us"
enable_ssh: true
users:
  - name: tcronin
    groups: users,adm,dialout,audio,netdev,video,plugdev,cdrom,games,input,gpio,spi,i2c,render,sudo
    shell: /bin/bash
    lock_passwd: false
    passwd: ${TEC_PWD_HASH}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${TEC_AUTH_KEY}

  - name: ansible
    groups: users,adm,sudo
    shell: /bin/bash
    lock_passwd: true
    passwd: ${ANS_PWD_HASH}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ANS_AUTH_KEY}
