---
- name: "initialize packages for work laptop"
  hosts: "all"
  become: true
  vars:
    user: tcronin
    exclude_file: /var/lib/AccountsService/users/ansible 
  tasks:
    - name: "Update apt repo and cache."
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: install desktop
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - gnome-shell
        - gnome-session
        - gnome-terminal
        - gnome-system-monitor
        - gnome-shell-extension-ubuntu-dock
        - ubuntu-settings
        - nautilus
        - update-manager
        - gedit
        - "linux-modules-extra-{{ ansible_kernel }}"
        - snapd
        - filezilla
        - gnome-tweaks
        - gparted
        - libreoffice-gnome
        - libreoffice-calc
        - libreoffice-writer
        - libreoffice-math
        - p7zip-full
        - putty
        - putty-tools
        - remmina
        - wpasupplicant

    - name: "get puttygen.exe"
      ansible.builtin.get_url:
        url: "https://the.earth.li/~sgtatham/putty/latest/w64/puttygen.exe"
        dest: "/usr/local/bin/puttygen.exe"
        mode: "0777"
        force: true

    - name: "Install snap deps"
      community.general.snap:
        name:
          - "notepad-plus-plus"
          - "simple-scan"
          - "spotify"
          - "wine-platform-runtime-core20"

    - name: "Remove unused packages"
      ansible.builtin.apt:
        name: "{{ item }}"
        state: "absent"
        purge: yes
        autoremove: yes
      loop:
        - ed
        - thunderbird
        - modemmanager 
        - avahi-daemon
        - vim*
        - alsa*
        - speech*
        - sssd*
        - xdg-desktop-portal-gnome
        - gnome-remote-desktop
        - multipath-tools
        - multipath-tools-boot 
        - kpartx

    - name: "Upgrade all packages on servers."
      apt:
        upgrade: "dist"

    - name: "Remove useless packages from the cache"
      apt:
        autoclean: true

    - name: "Remove dependencies that are no longer required"
      apt:
        autoremove: true

    # https://askubuntu.com/questions/92349/how-do-i-hide-a-particular-user-from-the-login-screen
    - name: deploy user exclude file
      copy:
        src: "{{ playbook_dir }}/../../..{{ exclude_file }}"
        dest: "{{ exclude_file }}" 
        owner: root
        group: root
        mode: 0600

    - name: Set default systemd target to graphical.target
      ansible.builtin.command: systemctl set-default graphical.target
      changed_when: true  

    - name: "Disable Wayland in GDM"
      lineinfile:
        path: /etc/gdm3/custom.conf
        regexp: '^#?WaylandEnable='
        line: 'WaylandEnable=false'
        insertafter: '^\[daemon\]'

    - name: "Set default X11 session"
      lineinfile:
        path: /etc/gdm3/custom.conf
        regexp: '^#?DefaultSession='
        line: 'DefaultSession=ubuntu-xorg.desktop'
        insertafter: '^\[daemon\]'

    - name: "Configure logind to kill user processes on logout"
      lineinfile:
        path: /etc/systemd/logind.conf
        regexp: '^#?KillUserProcesses='
        line: 'KillUserProcesses=yes'

    - name: "ensure AccountsService directory exists"
      file:
        path: /var/lib/AccountsService/users
        state: directory
        mode: '0755'

    - name: "set default session to ubuntu for user"
      copy:
        content: |
          [User]
          Language=
          XSession=ubuntu
          SystemAccount=false
        dest: "/var/lib/AccountsService/users/{{ user }}"
        mode: '0644'

    - name: "stop any dconf service for user (to unlock database)"
      become: yes
      shell: |
        pkill -u {{ user }} dconf-service || true
      failed_when: false

    - name: "get default gnome terminal profile from gsettings"
      become: yes
      become_user: "{{ user }}"
      shell: |
        eval $(grep -z DBUS_SESSION_BUS_ADDRESS /proc/$(pgrep -u {{ user }} gnome-session | head -1)/environ | tr '\0' '\n')
        export DBUS_SESSION_BUS_ADDRESS
        gsettings get org.gnome.Terminal.ProfilesList default | tr -d \'
      register: terminal_profile
      changed_when: false
      failed_when: false

    - name: "create dconf settings file"
      become: yes
      become_user: "{{ user }}"
      copy:
        content: |
          [org/gnome/desktop/background]
          picture-uri=''
          picture-uri-dark=''
          primary-color='#000000'
          color-shading-type='solid'

          [org/gnome/terminal/legacy/profiles:/:{{ terminal_profile.stdout }}]
          use-system-font=false
          font='Monospace Bold 14'

          [org/gnome/shell]
          favorite-apps=['notepad-plus-plus_notepad-plus-plus.desktop', 'org.gnome.Terminal.desktop', 'putty.desktop', 'org.gnome.Nautilus.desktop', 'update-manager.desktop']
        dest: "/tmp/dconf_settings_{{ user }}.ini"
        owner: "{{ user }}"
        mode: '0600'

    - name: "load settings using user's dbus session"
      become: yes
      become_user: "{{ user }}"
      shell: |
        eval $(grep -z DBUS_SESSION_BUS_ADDRESS /proc/$(pgrep -u {{ user }} gnome-session | head -1)/environ | tr '\0' '\n')
        export DBUS_SESSION_BUS_ADDRESS
        dconf load / < /tmp/dconf_settings_{{ user }}.ini

    - name: "remove temporary settings file"
      file:
        path: "/tmp/dconf_settings_{{ user }}.ini"
        state: absent

    - name: "verify settings"
      become: yes
      become_user: "{{ user }}"
      shell: |
        eval $(grep -z DBUS_SESSION_BUS_ADDRESS /proc/$(pgrep -u {{ user }} gnome-session | head -1)/environ | tr '\0' '\n')
        export DBUS_SESSION_BUS_ADDRESS
        dconf read /org/gnome/shell/favorite-apps
      register: verify_result
      changed_when: false

    - name: "show verification"
      debug:
        var: verify_result.stdout

    - name: "update initramfs"
      shell: update-initramfs -u

    - name: "Check if a reboot is needed on all servers."
      stat:
        path: "/var/run/reboot-required"
      register: "reboot_required_file"

    - name: "Reboot the box if kernel updated"
      reboot:
        msg: "Reboot initiated by Ansible for kernel updates"
        connect_timeout: 5
        reboot_timeout: 300
        pre_reboot_delay: 0
        post_reboot_delay: 10
        test_command: "uptime"
      when: "reboot_required_file.stat.exists"
