# https://www.tecmint.com/disable-suspend-and-hibernation-in-linux/
# vm stuff
# todo
## Disable compositor permanently
#gsettings set org.mate.Marco.general compositing-manager false
## Disable some problematic indicators
# dconf write /org/ayatana/indicator/sound/visible false
# copy ~/.xsession
# copy /etc/xrdp/startwm.sh
#
---
- name: "initialize packages for vm"
  hosts: "all"
  gather_facts: true 
  become: true
  vars:
    user: tcronin
    exclude_file: /var/lib/AccountsService/users/ansible 
  tasks:
    - name: "Update apt repo and cache."
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: "install gnome components without snap"
      apt:
        name: "{{ item }}"
        state: "present"
      loop:
        - gnome-shell
        - gnome-session
        - gnome-terminal
        - gnome-system-monitor
        - gnome-shell-extension-ubuntu-dock
        - ubuntu-settings
        - nautilus
        - update-manager
        - gedit
        - "linux-modules-extra-{{ ansible_kernel }}"

    - name: "Remove unused packages"
      ansible.builtin.apt:
        name: "{{ item }}"
        state: "absent"
        purge: yes
        autoremove: yes
      loop:
        - ed
        - thunderbird
        - modemmanager 
        - wpasupplicant 
        - avahi-daemon
        - vim*
        - alsa*
        - bluez*
        - cups*
        - printer-driver*
        - speech*
        - sssd*
        - wireless*
        - libreoffice-common
        - snapd
        - ubuntu-server-minimal
        - xdg-desktop-portal-gnome
        - gnome-remote-desktop
        - multipath-tools
        - multipath-tools-boot 
        - kpartx

    - name: "Upgrade all packages on servers."
      apt:
        upgrade: dist

    - name: "Remove useless packages from the cache"
      apt:
        autoclean: true

    - name: "Remove dependencies that are no longer required"
      apt:
        autoremove: true

    # TODO sudo nano  /usr/share/polkit-1/actions/org.gnome.settings-daemon.plugins.power.policy    
    - name: "stop n mask power targets"
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        enabled: false
        masked: true
        state: stopped
      loop:
        - sleep.target
        - suspend.target
        - hibernate.target
        - hybrid-sleep.target
        - systemd-networkd-wait-online.service

    # https://askubuntu.com/questions/92349/how-do-i-hide-a-particular-user-from-the-login-screen
    - name: deploy user exclude file
      copy:
        src: "{{ playbook_dir }}/../..{{ exclude_file }}"
        dest: "{{ exclude_file }}" 
        owner: root
        group: root
        mode: 0600

    - name: Set default systemd target to graphical.target
      ansible.builtin.command: systemctl set-default graphical.target
      changed_when: true  

    - name: "Disable Wayland in GDM"
      lineinfile:
        path: /etc/gdm3/custom.conf
        regexp: '^#?WaylandEnable='
        line: 'WaylandEnable=false'
        insertafter: '^\[daemon\]'

    - name: "Set default X11 session"
      lineinfile:
        path: /etc/gdm3/custom.conf
        regexp: '^#?DefaultSession='
        line: 'DefaultSession=ubuntu-xorg.desktop'
        insertafter: '^\[daemon\]'

    - name: "Configure logind to kill user processes on logout"
      lineinfile:
        path: /etc/systemd/logind.conf
        regexp: '^#?KillUserProcesses='
        line: 'KillUserProcesses=yes'

    - name: "ensure AccountsService directory exists"
      file:
        path: /var/lib/AccountsService/users
        state: directory
        mode: '0755'

    - name: "set default session to ubuntu for user"
      copy:
        content: |
          [User]
          Language=
          XSession=ubuntu
          SystemAccount=false
        dest: "/var/lib/AccountsService/users/{{ user }}"
        mode: '0644'

    - name: "get default gnome terminal profile"
      shell: gsettings get org.gnome.Terminal.ProfilesList default | tr -d \'
      register: terminal_profile
      changed_when: false

    - name: "create dconf directories"
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - /etc/dconf/db/local.d
        - /etc/dconf/profile

    - name: "create dconf user profile"
      copy:
        content: |
          user-db:user
          system-db:local
        dest: /etc/dconf/profile/user

    - name: "set gnome defaults - background"
      copy:
        content: |
          [org/gnome/desktop/background]
          picture-uri=''
          picture-uri-dark=''
          primary-color='#000000'
          color-shading-type='solid'
        dest: /etc/dconf/db/local.d/01-background

    - name: "set gnome defaults - terminal"
      copy:
        content: |
          [org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9]
          use-system-font=false
          font='Monospace Bold 14'
        dest: /etc/dconf/db/local.d/02-terminal

    - name: "set gnome dock favorites"
      copy:
        content: |
          [org/gnome/shell]
          favorite-apps=['org.gnome.Nautilus.desktop', 'org.gnome.Terminal.desktop', 'update-manager.desktop']
        dest: /etc/dconf/db/local.d/03-favorites

    - name: "update dconf database"
      shell: dconf update

    - name: "update initramfs"
      shell: update-initramfs -u

    - name: "Reboot the box"
      reboot:
        msg: "Reboot initiated by Ansible for kernel updates"
        connect_timeout: 5
        reboot_timeout: 300
        pre_reboot_delay: 0
        post_reboot_delay: 10
        test_command: "uptime"
